.container {
	width: 690px;
	margin: 28px auto;
}

@media (max-width:  957px) {
	/* For a screen < 960px, this CSS wil be read */
	.container {
		width: 700px;
	}
}
@media (max-width: 710px) {
	/* For a screen < 7200px, this CSS wil be read */
	.container {
		width: 500px;
}
@media (max-width: 540px) {
	/* For a screen < 540px, this CSS wil be read */
	.container {
		width: 300px;
	}
}
